/*<!-- Zachary Brasseaux -->
<!-- Partner - Josue Gaona -->
<!-- 102-52-903 -->
<!-- CSC 557 - Web Dev -->
<!-- General Project -->*/

:root {
	--black:  #303030;
	--orange: #efa514;
}

body {
	background: var(--black);
	font-family: 'Courier New', monospace;
}

button {
	background: var(--black);
	border-color: var(--orange);
	border-width: 1.5px;
	padding: 10px;
	color: var(--orange);
}

button:hover {
	background: var(--orange);
	color: var(--black);
}

.box {
	width: 32.5vw;
	height: 90vh;
	float: left;
	border-color: var(--orange);
	border-width: .5px;
	background-color: var(--black);
	color: var(--orange);
	padding-top: 10px;
	border-style: solid;
	overflow: scroll;
}

.box-text {
	padding-left: 10px;
	padding-right: 10px;
}

.text-line {
	padding-bottom: 10px;
}

.wide {
	height: 30px;
	line-height: 30px;
	width: 97.75vw;
/*	display: inline-flex;*/
}

@-webkit-keyframes ticker-animation {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker-animation {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  width: 100%;
  overflow: hidden;
  height: 3rem;
  background-color: var(--orange); 
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker {

    display: inline-block;
    height: 2.25rem;
    line-height: 2.25rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    animation: ticker-movement 55s linear infinite;
}

.ticker-item {

      display: inline-block;

      padding: 0 1rem;
      font-size: 1.5rem;
      color: var(--black);   
}

@keyframes ticker-movement {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-408rem, 0, 0);
  }
}

